#draft {
    background-color:darkorchid;
    height: fit-content;
    padding: 1vw;

}

#title-area {
    background-color: darkslateblue;
    margin: 0.5vw;
}

#draft-title {
    background-color: cadetblue;
    margin: 0.5vw;
}

#tag-area {
    background-color: darkgoldenrod;
    display: flex;
    margin: 0.5vw;
}

#tag-container {
    background-color: darkgray;
    width: fit-content;
    height:fit-content;
    margin: 0.5vw;
}

#addTag {
    background-color: darkgray;
    margin: 0.5vw;
}

#draft-container {
    background-color: hotpink;
    width: fit-content;
    height:fit-content;

}

#addElement {
    background-color: aquamarine;
    display: flex;
}

#addElement button {
    margin: 0.5vw;
}

#comment {
    margin: 0.5vw;
}

#submit {
    margin: 0.5vw;
}

#submit button {
    margin: 0.5vw;
}