body {
    font-family: noto-sans, sans-serif;
}

#width-control {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#draft {
    width: 60vw;
    height: fit-content;
    margin-bottom: 30px;
    position: relative;
}

#title {
    width: 100%;
    height: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-style: dashed;
}

#tag-area {
    margin-bottom: 1vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#tag-container {
    display: flex;
    flex-wrap: wrap;
}

#addTag {
    margin-left: 3px;
    padding: 5px 7px 11px;
    border: none;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#addTag:hover {
    cursor: pointer;
    background-color: #a1a1a1;
    color: whitesmoke;
    fill: whitesmoke;
}

.tag-cell {
    margin-bottom: 1vw;
    display: flex;
}

#draft-container {
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.cell {
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.grip {
    margin: 1vw;
}

.remove {
    margin: 1vw;
}

.grip {
    margin: 1vw;
}

#addBtn {
    display: flex;
}

#addBtn button {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 1vw;
    padding: 1vw 2vw 1.5vw;
    border: none;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addBtn button:hover{
    cursor: pointer;
    background-color: #a1a1a1;
    color: whitesmoke;
    fill: whitesmoke;
}

input .subtitle {
    border-style: dashed;
}

#submit {
    margin-top: 1vw;
    margin-bottom: 1vw;
    position: absolute;
    right: 0;
}

#submit button {
    padding: 1vw 2vw 1.5vw;
    outline: #A4E0D1 4px solid;
    border: none;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A4E0D1;
    color: whitesmoke;
}

#sumbit button p {
    color: whitesmoke;
}

#submit button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #12b388;
    fill: #12b388;
}

/* サムネ投稿のダイアログ */
#thumbnail-dialog {
    display: none; /* 初期状態では非表示 */
    position: fixed; /* 画面に固定 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 背景を半透明の黒に */
    z-index: 9999; /* 他の要素の上に表示 */
}

#thumbnail-dialog-content {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦方向に要素を配置 */
    justify-content: center; /* 中央に配置 */
    align-items: center; /* 中央に配置 */
    width: 80%; /* ダイアログの幅 */
    max-width: 500px; /* ダイアログの最大幅 */
    margin: auto; /* 自動的にマージンを設定 */
    padding: 20px;
    margin-top: 10%;
    background-color: white; /* ダイアログの背景色 */
    border: #A4E0D1 4px solid; /* ダイアログの枠線 */
    border-radius: 8px; /* ダイアログの角を丸く */
}

#thumbnail-dialog-title p {
    font-size: 1.2em;
    margin-bottom: 2vw;
}

#thumbnail-dialog-image img {
    width: 100%;
    height: auto;
    display: none;
}

#thumbnail-dialog-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#thumbnail-dialog-button button {
    margin: 0 10px;
}

#upload {
    display: none;
}

#thumbnail-dialog-container button{
    outline: #A4E0D1 4px solid;
    outline-offset: -3px;
    border: 1px solid #A4E0D1;
    background-color: #A4E0D1;
    border-radius: 3px;
    padding: 1vw 1vw 1.5vw;
    color: whitesmoke;
}

#thumbnail-dialog-input {
    display: none;
}

#thumbnail-dialog-container button:hover {
    cursor: pointer;
    background-color: transparent;
    color: #A4E0D1;
}

#thumbnail-dialog-button button {
    width: 45%;
}

/* サムネ選択後のプレビュー */
.preview-article {
    display: flex;
}

.preview-article img{
    height: 180px;
    width: 180px;
    background-size: cover;
    float: left;
    margin: 10px 20px 10px 10px;
}

.preview-text h1 {
    padding-top: 10px;
    font-size: 30px;
    padding-right: 3%;
    width: 97%;
}

.preview-text p {
    padding-top: 5px;
    color: #617b7c;
}

.preview-text {
    margin-bottom: 20px;
    text-decoration: none;
    color: #2f3f3c;
}

.preview-text:visited {
    color: #2f3f3c;
}

/* 投稿完了ダイアログボックス */
/* ダイアログ全体のスタイリング */
#complete-dialog {
    display: none; /* 初期状態では非表示 */
    position: fixed; /* 画面中央に表示 */
    z-index: 1; /* 他の要素の上に表示 */
    left: 0;
    top: 0;
    width: 100%; /* 画面全体の幅 */
    height: 100%; /* 画面全体の高さ */
    overflow: auto; /* 必要に応じてスクロール */
    background-color: rgba(0,0,0,0.4); /* 半透明の背景 */
}

/* ダイアログの内容部分のスタイリング */
#complete-dialog-content {
    background-color: #fefefe;
    margin: 15% auto; /* 画面中央に配置 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* ダイアログの幅 */
}

/* タイトル部分のスタイリング */
#complete-dialog-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

/* ボタン部分のスタイリング */
#complete-dialog-button {
    text-align: center;
}

#close-complete-dialog {
    outline: #A4E0D1 4px solid;
    outline-offset: -3px;
    border: 1px solid #A4E0D1;
    background-color: #A4E0D1;
    border-radius: 3px;
    padding: 1vw 1vw 1.5vw;
    color: whitesmoke;
}

#close-complete-dialog:hover {
    cursor: pointer;
    background-color: transparent;
    color: #A4E0D1;
}

/* アップロード中のローディング表示 */
#loading {
    display: none; /* 初期状態では非表示 */
    position: fixed; /* 画面に固定 */
    z-index: 9999; /* 他の要素より前面に表示 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
}

#loading-content {
    position: absolute; /* 親要素（#loading）に対して絶対位置指定 */
    top: 50%; /* 上から50%の位置に配置 */
    left: 50%; /* 左から50%の位置に配置 */
    transform: translate(-50%, -50%); /* 自身の50%分ずらして中央に配置 */
    text-align: center; /* テキストを中央寄せ */
}

#loading-title {
    color: white; /* 文字色を白に */
    font-size: 20px; /* フォントサイズを20pxに */
    margin-bottom: 20px; /* スピナーとの間に余白を設ける */
}

.three-quarter-spinner {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid #A4E0D1;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}