/* 共通のスタイル */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    /* text-decoration: none; */
}

body {
    background-color: #f5f5f5;
    width: 100%; 
    color: #2f3f3c;
}

/* コンテナーのスタイル */
.container {
    width: 100%;
}

/* ヘッダーのスタイル */
header {
    align-items: center;
    background-color: #A4E0D1;
    height: 60px;
    padding: 10px;
    width: 100%;
    display: flex;
}

/* ログインボタン */
.loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

/* ログインボタン内のテキスト */
.loginBtn .BtnText {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

/* ログインボタンホバー時 */
.loginBtn:hover {
    background-color: transparent;
}
.loginBtn:hover .BtnText {
    color: #007ACC;
}

/* 記事投稿ボタン */
.postBtn {
    padding: 10px 15px;
    gap: 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

.postBtn .BtnText{
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

/* 記事投稿ボタンホバー時 */
.postBtn:hover {
    background-color: transparent;
}
.postBtn:hover .BtnText {
    color: #007ACC;
}


/* ヘッダーロゴ */
.logo {
    width: 100px;
    border-radius: 5px;
    background-color: #ccc;
}

/* ヘッダータイトル */
.title {
    margin: -3px 0;
    height: 40px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
}

.title a {
    text-decoration: none;
}

.title:hover a {
    color: #ccc;
}

.title a:visited {
    color: #ffffff;
}

/* メインのスタイル */
#leftcolumm-title{
    background-color: #A4E0D1;
    display: block;
    width: 60%;
    margin-left: 10%;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #ffffff;
}
#leftcolumm-title p{
    font-size: 24px;
    text-align: center;
    padding-top: 6px;
}

main {
    display: block;
    margin-left: 10%;
    width: 60%;
    float: left;
}

/* top記事単位装飾 */
.contents{
    background-color: #ffffff;
    height: 200px;
    margin-bottom: 20px;
}

/* 記事タイトル */
main h2 {
    font-size: 32px;
    margin: 30px 0 30px 0;
    text-align: center;
}

/* 記事の画像 */
main img {
    width: 80%;
    margin: 20px 10%;
    box-sizing: border-box;
    border: solid #ccc 1px;
}

/* タグ、投稿日時 */
p.date, p.tag{
    color: #617b7c;
}
p.date{
    text-align: right;
    padding-right: 30px;
}
p.tag{
    text-align: right;
    padding-right: 30px;
}

.src {
    width: 80%;
    margin: 20px 10%;
    background-color: #012a35;
    color: #8c939f;
    overflow: auto;
}

.src::-webkit-scrollbar {
    height: 7px;
}

.src::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #A4E0D1;
}

.src::-webkit-scrollbar-track {
    background: #696969;
}

/* 記事リストのスタイル */
.article .thumbnail {
    height: 180px;
    width: 180px;
    background-size: cover;
    float: left;
    margin: 10px 20px 10px 10px;
}

.article h1{
    padding-top: 10px;
    font-size: 30px;
    padding-right: 3%;
    width: 97%;
}
.article p{
    padding-top: 5px;
    color: #617b7c;
}

.article{
    margin-bottom: 20px;
    text-decoration: none;
    color: #2f3f3c;
}

.article:visited{
    color: #2f3f3c;
}

/* サイドバーのスタイル */
aside {
    width: 18%;
    float: right;
    margin-right: 10%;
    margin-top: 60px;
}

h3 {
    width: 100%;
    height: 50px;
    background-color: #A4E0D1;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.profile {
    margin-bottom: 20px;
    height: 160px;
    background-color: #ffffff;
}

.profile p {
    font-size: 14px;
    padding: 10px 10px 0 10px;
}

.recent-posts {
    margin-bottom: 20px;
    height: 200px;
    background-color: #ffffff;
}

.recent-posts ul {
    list-style: none;
    font-size: 14px;
    padding: 10px 10px 0 10px;
}

.recent-posts li {
    font-size: 14px;
    margin-bottom: 5px;
}

.recent-posts a {
    color: #00a4de;
    text-decoration: none;
}

.search {
    margin-bottom: 20px;
    height: 100px;
    background-color: #ffffff;
}

form{
    margin-top: 10px;
}

.search input {
    width: 76%;
    height: 30px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 2%;
    margin-left: 4%;
}

.search button {
    width: 16%;
    height: 30px;
    border: none;
    background-color: #00a4de;
    color: white;
    font-size: 12px;
    float: right;
    margin-right: 4%;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #A4E0D1;
    color: #fff;
    text-align: center;
    padding: 0 0;
    display: block;
    float: left;
    margin-top: 40px;
}
footer p{
    margin-top: 18px;
}

.three-quarter-spinner {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid #A4E0D1;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}

/*articleViewer*/

#article_main main{
    margin-top: 60px;
    background-color: #ffffff;
    padding-bottom: 100px;
    color: #012a35;
    margin-bottom: 20px;
}
#article_main p{
    margin: 10px 5%;
    width: 90%;
}
#article_main h3{
    background-color: #ffffff;
    color: #012a35;
    margin: 50px 0 25px 5%;
    width: 95%;
    text-align: left;
}
#article_main a:link, a:visited, a:hover, a:active{
    margin: 10px 5%;
    width: 90%;
    color: #A4E0D1;
    text-decoration: underline;
}