/* 共通のスタイル */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* コンテナーのスタイル */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ヘッダーのスタイル */
header {
    display: flex;
    align-items: center;
    background-color: #5EC289;
    height: 80px;
    padding: 10px;
}

.logo {
    width: 100px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #ffffff;
}

/* メインのスタイル */
main {
    margin-left: 4%;
    margin-top: 20px;
    width: 60%;
    float: left;
    padding: 20px;
    background-color: #ffffff;
}

/* 記事リストのスタイル */
.article {
    margin-bottom: 20px;
}

.article hr {
    background-color: #5EC289;
    height: 3px;
}


/* サイドバーのスタイル */
aside {
    width: 30%;
    float: right;
    padding: 20px;
}

.profile {
    margin-bottom: 20px;
}

.profile p {
    font-size: 14px;
    margin-top: 10px;
}

.recent-posts {
    margin-bottom: 20px;
}

.recent-posts h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.recent-posts ul {
    list-style: none;
}

.recent-posts li {
    font-size: 14px;
    margin-bottom: 5px;
}

.recent-posts a {
    color: #00a4de;
    text-decoration: none;
}

.search {
    margin-bottom: 20px;
}

.search h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.search input {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
}

.search button {
    width: 15%;
    height: 30px;
    border: none;
    background-color: #00a4de;
    color: white;
    font-size: 14px;
}

footer{
    width: 100%;
    background-color: #5EC289;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
}

.three-quarter-spinner {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid #5EC289;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}