/* 共通のスタイル */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

/* コンテナーのスタイル */
.container {
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

/* ヘッダーのスタイル */
header {
    display: flex;
    align-items: center;
    background-color: green;
    height: 80px;
    padding: 10px;
    width: 100%;
}

.logo {
    width: 100px;
    flex-grow: 1;
}

.title {
    font-size: 46px;
    font-weight: bold;
    margin-left: auto;
    color: #ffffff;
    flex-grow: 1;
}

.title a {
    text-decoration: none;
}

.title a:visited {
    color: #ffffff;
}

/* メインのスタイル */
main {
    margin-left: 4%;
    margin-top: 20px;
    width: 60%;
    float: left;
    padding: 20px;
    background-color: #ffffff;
}

/* 記事タイトル */
main h2 {
    font-size: 46px;
}

/* 記事の画像 */
main img {
    max-width: 100%;
}

/* タグ、投稿日時 */
p.date, p.tag{
    color: #696969;
}
p.tag{
    margin-top: 20px;
    margin-bottom: 40px;
}

.src {
    background-color: #012a35;
    color: #8c939f;
    overflow: auto;
    margin-bottom: 40px;
}

.src::-webkit-scrollbar {
    height: 7px;
}

.src::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #5EC289;
}

.src::-webkit-scrollbar-track {
    background: #696969;
}

/* 記事リストのスタイル */
.article {
    margin-bottom: 20px;
    text-decoration: none;
    color: #000000;
}

.article hr {
    background-color: #5EC289;
    height: 3px;
    margin: 0;
    border: none;
}

.article:visited{
    color: #000000;
}


/* サイドバーのスタイル */
aside {
    width: 30%;
    float: right;
    padding: 20px;
}

.profile {
    margin-bottom: 20px;
}

.profile p {
    font-size: 14px;
    margin-top: 10px;
}

.recent-posts {
    margin-bottom: 20px;
}

.recent-posts h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.recent-posts ul {
    list-style: none;
}

.recent-posts li {
    font-size: 14px;
    margin-bottom: 5px;
}

.recent-posts a {
    color: #00a4de;
    text-decoration: none;
}

.search {
    margin-bottom: 20px;
}

.search h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.search input {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
}

.search button {
    width: 15%;
    height: 30px;
    border: none;
    background-color: #00a4de;
    color: white;
    font-size: 14px;
}

footer{
    width: 100%;
    background-color: #5EC289;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
}

.three-quarter-spinner {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 3px solid #5EC289;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin .5s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}
